html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/**Preload images**/
body::after {
  position:absolute;
  width:0;
  height:0;
  overflow:hidden;
  z-index:-1;
  content:
  url("resources/BeachSunset.jpg")
  url("resources/CoolLake.jpg")
  url("resources/EveningFieldSea.jpg")
  url("resources/ReflectiveWaterSky.jpg")
  url("resources/SunLakeSky.jpg")
}

.container{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  animation: animate ease-in-out infinite;
  animation-duration: 80s;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@keyframes animate {
  0%,100%{
  background-image: url("resources/BeachSunset.jpg");
  }
  20%{
  background-image: url("resources/CoolLake.jpg");
  }
  40%{
  background-image: url("resources/EveningFieldSea.jpg");
  }
  60%{
  background-image: url("resources/ReflectiveWaterSky.jpg");
  }
  80%{
  background-image: url("resources/SunLakeSky.jpg");
  }
}

.greeting{
  vertical-align: text-top;
  position: absolute;
  top: 0;
  margin:13px;
  word-spacing: 3px;
  line-height: 77px;
}

h1 span:nth-child(1) {
  font-weight: bold;
  font-family: 'Courgette',cursive, "Courier New", Georgia, "Times New Roman";
  font-size: 3em;
  color:rgb(25,217,253,0.5);
  text-shadow: 4px 4px 1px black;
}

h1 span:nth-child(2){
  font-family: "Titan One", cursive, "Courier New", Georgia, "Times New Roman";
  font-size: 2em;
  color: rgb(255,255,102,0.5);
  text-shadow: 4px 4px 1px black;
}

h2{
  color: white;
}
h2 span{
  background-color: #3492F0;
  line-height: 1.7em;
}

.info{
  position: relative;
  top: 35%;
  width: 100%;
  text-align: center;
}

.links{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 40%;
  width: 100%;
}


.button{
  margin-right: 75px;
  margin-left: 75px;
  background-color: #FFFFFF;
  opacity: 0.40;
  border: none;
  padding: 60px 40px 60px 40px;
  border-radius: 21px;
  text-align: center;
  transition: 0.5s ease;
  display: inline-block;
  cursor: pointer;
  font-size: 1.5em;
  font-weight: bold;
}

.button a{ /* Used to hide text of buttons until hovered on */
  color: rgba(0, 0, 0, 0);
}

#linkedin{
  background-image: url("resources/LinkedIn.png");
  background-size: cover;
  padding: 55px 30px 55px 30px;
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
#github{
  background-image: url("resources/GitHub.png");
  background-size: cover;
  padding: 50px 30px 50px 30px;
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;

}
#email{
  background-image: url("resources/Email.png");
  background-size: cover;
  padding: 50px 30px 50px 30px;
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;

}
#resume{
  background-image: url("resources/Resume.png");
  background-size: cover;
  padding: 50px 30px 50px 30px;
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;

}

.button:hover{
  box-shadow: 3px 3px 50px 20px rgba(11,255,1,0.21);
  opacity: 0.80;
  transition: 0.7s ease;
  color: black;
}

.button:hover a{
  text-decoration: none;
  color: inherit;
  -webkit-transition: color 0.5s; /* For Safari 3.0 to 6.0 */
  transition: color 0.5s; /* For modern browsers */
}
